/* Fonts family */
@font-face {
  font-family: 'ProximaNova_reg';
  src: url('../fonts/ProximaNova-Regular.eot');
  src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Regular.woff2') format('woff2'), url('../fonts/ProximaNova-Regular.woff') format('woff'), url('../fonts/ProximaNova-Regular.ttf') format('truetype'), url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova_bold';
  src: url('../fonts/ProximaNova-Bold.eot');
  src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Bold.woff2') format('woff2'), url('../fonts/ProximaNova-Bold.woff') format('woff'), url('../fonts/ProximaNova-Bold.ttf') format('truetype'), url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
/* Colors */
/* Basic setting */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  font-family: 'ProximaNova_reg' sans-serif;
  font-weight: 500;
}
a:hover {
  text-decoration: none;
}
button:focus,
input:focus,
a:focus,
textarea:focus {
  outline: none;
}
.button {
  background-color: #fcb303;
  color: #ffffff;
  padding: 1.5rem 3rem;
  border-radius: 8px;
  text-transform: uppercase;
  border: none;
  width: 100%;
  font-size: 1.2rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.button:hover {
  background-color: #d99a03;
}
.wrap {
  display: table;
  height: 7rem;
}
.wrap-block {
  display: table-cell;
  vertical-align: middle;
  text-align: right;
}
/* Typography */
section {
  padding: 10rem 0;
}
.section-header {
  margin-bottom: 13rem;
  font-family: 'ProximaNova_bold' sans-serif;
  font-weight: 700;
  font-size: 3.6rem;
  text-align: center;
}
/* main */
.main {
  padding: 3rem 0 5rem;
  background: #ffffff url(../img/main-bg.png) center center no-repeat;
  background-size: cover;
  /*Подзаголовок*/
  /*Зеленый ярлык*/
  /*Оплата по факту*/
  /*Главная форма*/
}
.main-content {
  margin-top: 10rem;
  /*Главный заголовок*/
}
.main-content h1 {
  margin-top: 0rem;
  margin-bottom: 4rem;
  font-family: 'ProximaNova_bold' sans-serif;
  font-weight: 700;
  font-size: 4rem;
  line-height: 1.45;
  text-transform: uppercase;
}
.main-subtitle {
  margin-bottom: 4rem;
  font-size: 2.4rem;
}
.main span {
  display: inline-block;
  padding: 3rem 5rem;
  font-size: 1.8rem;
  color: #ffffff;
  background-color: #48bc15;
  text-align: center;
  /*Цифра "300" рублей*/
}
.main span strong {
  font-size: 3rem;
  font-family: 'ProximaNova_bold' sans-serif;
  font-weight: 700;
}
.main-trigger {
  display: block;
  margin-top: 3rem;
  font-size: 2.2rem;
  text-transform: uppercase;
  font-family: 'ProximaNova_bold' sans-serif;
  font-weight: 700;
}
.main-form {
  background-color: #ffffff;
  padding: 3rem 4rem;
  text-align: center;
  /*Для того что-бы текст стоял посередине бордера*/
  /*Подписи к полям*/
  /*Кнопка отправить заявку*/
  /*Подпись под формой*/
}
.main-form-header {
  margin-bottom: 4rem;
  font-size: 1.8rem;
}
.main-form-header strong {
  font-size: 1.9rem;
}
.main-form form #name,
.main-form form #mail {
  position: relative;
}
.main-form-input {
  display: block;
  width: 100%;
  margin: 2rem 0;
  border: 1px solid #dddddd;
  padding: 1.5rem;
}
.main-form label {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 0.5rem;
  font-size: 1.3rem;
  background-color: #ffffff;
}
.main-form-btn {
  display: block;
  width: 100%;
  height: 5.5rem;
  font-size: 1.6rem;
}
.main-form small {
  display: block;
  margin-top: 1.5rem;
  font-size: 1.3rem;
}
.header {
  height: 7rem;
}
.phone-block {
  text-align: right;
}
.phone-link {
  display: inline-block;
  font-family: 'ProximaNova_bold' sans-serif;
  font-weight: 700;
  font-size: 1.9rem;
  height: 7rem;
  line-height: 7rem;
  color: #1a1820;
}
/* Оформление секции с преимуществами */
.features-block {
  text-align: center;
}
.features-block h3 {
  font-size: 2rem;
  font-family: 'ProximaNova_bold' sans-serif;
  font-weight: 700;
  margin-bottom: 3rem;
  margin-top: 3rem;
}
.features-block p {
  display: inline-block;
  width: 80%;
  font-size: 1.4rem;
}
.features-img {
  margin-top: 5rem;
}
.features-img img {
  display: block;
  margin: 0 auto;
}
.slick-active {
  outline: none;
}
@media (max-width: 991px) {
  .phone-block {
    text-align: center;
  }
  .main {
    background-position: top right;
  }
  .main-title {
    text-align: center;
    margin-bottom: 5rem;
  }
}
@media (max-width: 767px) {
  .main {
    background-position: top left;
  }
  .logo,
  .phone-block {
    text-align: center;
  }
  .button {
    margin-top: 3rem;
  }
  .main-title {
    margin-bottom: 2rem;
  }
}
@media (max-width: 575px) {
  .main-content h1 {
    font-size: 2rem;
  }
  .section-header {
    font-size: 2rem;
  }
  .logo,
  .phone-block {
    text-align: center;
  }
  .main-title {
    margin-top: 5rem;
  }
  .button {
    margin-top: 0;
  }
  .wrap {
    margin: 0 auto;
  }
}
